{"filter":false,"title":"001_envar.config","tooltip":"/study-sync/.ebextensions/001_envar.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1591301762763,"hash":"ce45cab88db705aad532d5d87a0d687426360d05"}