{"filter":false,"title":"002_node_command.config","tooltip":"/study-sync/.ebextensions/002_node_command.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1591301760673,"hash":"7c03904be811a817caf33f3f3264c8873721b887"}